@import "https://fonts.googleapis.com/css?family=Ubuntu:400";
@import url("https://fonts.googleapis.com/css?family=Lobster");

html,
body {
  margin: 0;
  padding: 0;
  background-color: #1b1924;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  max-width: 390px;
}
body * {
  box-sizing: border-box;
}

img {
  width: 90px;
  height: auto;
  margin: 0;
  margin-top: 51px;
}

h1,
h2,
button {
  font-family: Josefin, Sans, Georgia, "Times New Roman", Times, serif;
  text-align: left;
}

li,
textarea {
  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  margin-bottom: 19px;
  margin-top: 17px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  margin-bottom: 3px;
}

#chat {
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
}
.classli {
  list-style-type: none;
  padding: 16px;
  width: 317px;
  height: fit-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b1924;
  background-color: #ffffff;
  margin-bottom: 13px;
  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
}

.classlu {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.tofromli {
  list-style-type: none;
  height: fit-content;
  width: fit-content;
  justify-content: space-evenly;
}

.lito {
  padding-bottom: 6px;
}

.lifrom {
  padding-top: 9.8px;
}
.lifrom > .nameli {
  padding-top: 1px;
}

.likes {
  border: none;
  padding: 0;
  background-color: transparent;
}

.likes:hover {
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.likes:active {
  color: rgb(141, 4, 4);
  text-shadow: none;
}

.tofromli {
  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}
.nameli {
  font-size: 14px;
  line-height: 16.94px;
  color: #1b1924;
}

.reaksjonli {
  font-size: 16px;
  line-height: 19.36px;
  color: #000000;
}

.inputs {
  background-color: #444059;
  width: 317px;
  height: 118px;
  border-radius: 8px;
  color: #ffffff;
  padding: 13px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  resize: none;
  border: none;
}

#fromto {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
  width: 317px;
}

#fromto > textarea {
  position: flex;
  text-align: center;
  align-items: center;
  height: auto;
  width: 152.85px;
  height: 40px;
  padding: 10px;
}
#fromto > textarea::placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
::placeholder {
  color: #8f8f8f;
}

#submits {
  background-color: #28a9f1;
  color: #04131c;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  width: 317px;
  height: 61px;
  margin-top: 13px;
  border-radius: 8px;
  padding: 13px;
  border: none;
}
